body{
    font-family: Poppins , sans-serif;
    font-size: 30px;
    background-color: #060c21;
}
.main{
    position: absolute;
    border: 2px solid #00bcd4;
    border-radius: 30px;
    width: 400px;
    height: 500px;
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #060c21;
}
h3{
    color: #fff;
}
.result{
    width: 280px;
    border: none;
    background-color: transparent;
    outline: none;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 2px;
    font-size: 0.9em;
    padding-left: 15px;
    color: #fff;
    border: 2px solid #1cca1c;
    border-radius: 30px;
    transition: 0.5s;
}
.clearButton{
    width: 60px;
    height: 50px;
    margin: 4px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    border:1px solid #00bcd4;
    box-shadow: (2px,2px,2px,2px,#00bcd4);
    border-radius: 10px;
}
.btn{
    width: 60px;
    height: 50px;
    margin: 4px;
    outline: none;
    border: none;
    border:1px solid #1cca1c;
    color: #fff;
    background-color: transparent;
    box-shadow: (2px,2px, #1cca1c);
    border-radius: 10px;
}
.btn:hover{
    background-color: #1cca1c;
    color: #111;
    font-weight: bold;
    transition: 0.8s;
}
.clearButton:hover{
    background-color: #00bcd4;
    color: #111;
    font-weight: bold;
    transition: 0.8s;
}
.result:focus{
    width: 300px;
    display: block;
    margin: 5px auto;
}
.btn:hover{
    width: 58px;
    height: 48px;
    transition: 0.5s;
}
.clearButton:hover{
    width: 58px;
    height: 48px;
    transition: 0.5s;
}